@charset 'utf-8';
.dropdown-form-container{
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 0px;
/*     height: 100%; */
    padding-right: 12px;
    padding-top : 125px;
    position : absolute;
    z-index : 88;
}
.dropdown-form{
    position: relative;
    margin-right: 6px;
}
.dropdown-frame{
    height: 34px;
    max-width: 120px;
    border-radius: 3px;
    padding: 0px 36px 0px 12px;
    text-align: left;
    border: 1px solid rgb(223, 223, 223);
    background-color: #fff;
    background: url("../images/arrow.svg") right 8px center / 24px 24px no-repeat rgb(255, 255, 255)
}
.dropdown-frame.active{
    border: 1px solid rgb(50, 108, 249);
    background: url("../images/arrow-up.svg") right 8px center / 24px 24px no-repeat rgb(255, 255, 255)
}
.dropdown-frame .select-data{
    font-weight: 600;
    color: #222;
}
.dropdown-frame p{
    color: inherit;
    color: #4c4c4c;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown-box{
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    max-height: 560px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 6px 6px 18px -10px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}
.dropdown-frame + .dropdown-box{
    display: none;
}
.dropdown-frame.active + .dropdown-box{
    display: block;
}
.dropdown-box.dropdown-box--ver{
    width: 410px;
    z-index:99;
}
.dropdown-box.dropdown-box--hor{
    width: 960px;
    z-index:99;
}
.option-content {
    padding: 24px;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.option-content.box-row{
    display: flex;
    width: 100%;
    padding: 0;
}
.dropdown-box.dropdown-box--ver .option-content-wrap:not(:last-child){
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-bottom: 24px;
    padding-bottom: 24px;
}

.dropdown-box.dropdown-box--hor .option-content-wrap + .option-content-wrap {
    border-left: 1px solid rgb(231, 231, 231);
}
.dropdown-box.dropdown-box--hor .option-content-wrap:last-child {
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.option-content.box-row .option-content-wrap:not(:last-child){
    flex: 0 0 auto;
    width: 240px;
}

.option-content.box-row .option-content-wrap {
    padding: 24px 0 24px 24px;
}
.slider-ui-box {
    width: 100%;
    height: 150px;
    background: #f2f2f2;
}
.option-title-wrap{
    margin-bottom: 16px
}
.option-title {
    font-size: 18px;
    font-weight: 500;
}
.guide-text {
    color: rgb(134, 134, 134);
    font-size: 13px;
    font-weight: 400;
    margin: 4px 0px;
    line-height: 20px;
}
.guide-text .notice-icon{
    background-image: url("../images/notice-icon.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 18px 18px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    vertical-align: middle;
}
.radio-wrap, .checkbox-wrap {
    display: flex;
    display: -ms-flexbox;
    margin-top: 12px;
}
.radio-button, .checkbox-button {
    width: 22px;
    height: 22px;
}
.radio-label , .checkbox-label {
    padding-left: 8px;
    font-size: 14px;
}
.tag-group {
    display: flex;
    flex-wrap: wrap;
}
.tag-box {
    height: 38px;
    width: 116px;
    position: relative;
    margin-right: 8px;
    margin-bottom: 8px;
}
.tag-name {
    color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;width: 100%;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    user-select: none;
}
.tag-checkbox:checked + .tag-name {
    color: rgb(255, 255, 255);
    border-color: rgb(50, 108, 249);
    background-color: rgb(50, 108, 249);
}
.tag-checkbox {
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}
.form-disabled span, .form-disabled p, .form-disabled h1,
.form-disabled h2, .form-disabled label{
    opacity: 0.3;
}
.button-style{
    color: rgb(34, 34, 34);
    font-size: 13px;
    font-weight: 400;
    width: 96px;
    height: 40px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}
.button-wrap {
    padding: 24px;
    display: flex;
    justify-content: flex-end;
}
.button-style + .button-style {margin-left: 4px;}

.sectionMap {
    padding-top: 161px;
    padding-bottom: 80px;
    display: flex;
    position: relative;
}

/* sectionMap Title */
.sectionMap-title {
  text-align: center;
  margin-bottom: 80px;
  padding: 0 300px;
  position: relative;
  z-index: 5;
}

.sectionMap-title h2 {
  font-size: 35px;
  margin-bottom: 20px;
  line-height: 45px;
  text-transform: capitalize;
  position: relative;
  font-weight: 600;
  padding-bottom: 20px;
}

.sectionMap-title h2:before {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: -2px;
  height: 4px;
  width: 50px;
  border-radius: 5px;
  background: #5830E0;
  content: "";
}

.sectionMap-title p {
  font-size: 16px;
  line-height: 26px;
}

.sectionMap-title.align-right {
  padding: 0;
  padding-left: 600px;
}

.sectionMap-title.align-right h2:before {
  display: none;
}

.sectionMap-title.align-right h2:after {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 2px;
  width: 50px;
  background: #5830E0;
  content: "";
}

.sectionMap-title.align-left {
  padding: 0;
  padding-right: 600px;
}

.sectionMap-title.align-left h2:before {
  left: 0;
  margin-left: 0;
}

.sectionMap button {
    width: 100%;
    padding: 0 25px;
    height: 40px;
    margin-left: 30px;
}
